<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Personaje público polifacético de ascendencia danesa, ciudadanía estadounidense pero argentino de corazón</p>
        <ul>
            <li>Amplia carrera cinematográfica</li>
            <li>Gran dedicación al mundo del arte</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Todo un políglota, habla español, inglés, francés y danés</li>
            <li>Aficionado al futbol, desde chico es hincha del San Lorenzo</li>
            
        </ul>
    </div>
</body>
</html>