<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body class="body">

    <div class="container about">
        <nav>
            <a href="/home">home</a>
            <a href="/works">Work</a>
        </nav>

        <p>Personaje público polifacético de ascendencia danesa, ciudadanía estadounidense pero argentino de corazón</p>
        <img id="captain-fantastic" src="./captain-fantastic.jpg" alt="viggo in a film">
        <ul>
            
            <li>Es actor, productor, poeta, músico, fotógrafo y pintor.</li>
            <li>Todo un políglota, habla español, inglés, francés y danés</li>
            <li>
                <a href="https://www.youtube.com/watch?v=3Sfp1JOuUNY" target="_blank">
                Aficionado al futbol desde chico, es hincha del San Lorenzo
                </a>
            </li>
            <li>Ha mostrado su apoyo al proceso independentista catalán</li>
            
        </ul>

        <img src="" alt="">

    </div>
</body>
</html>