<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="body">

    
    <div class="container works">
        <nav>
            <a href="/home">Home</a>
            <a href="/about">About</a>
        </nav>

            <h3 class="h3">Carrera cinematográfica</h3>
            <img id="aragorn" src="./viggo.jpg" alt="aragorn lord of the rings character">
            <ul>
                <li>Popularmente conocido gracias a su papel en la trilogía en El Señor de los Anillos</li>
                <li>Protagonista de la aclamada película "Alatriste"</li>
            </ul>

            <h3>Carrera Musical</h3>
            <ul>
                <li> One Less Thing to Worry About (1999)</li>
                <li>Pandemoniumfromamerica (2003)</li>
            </ul>

    
        <h3>Nominaciones a premios</h3>
        <ul>
            <li>En tres ocasiones a los Premios Óscar </li>
            <li>En cuatro a los Premios Globo de Oro</li>
            <li>Una vez a los premios Goya</li>
        </ul>
    </div>
</body>
</html>